:root {
  --navy-color: rgb(34, 40, 49);
  --grey-color: rgb(49, 54, 63);
  --teal-color: rgb(118, 171, 174);
  --offwhite-color: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-color: var(--grey-color);
  color: var(--offwhite-color);
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: center;
  min-height: 70px;
  position: fixed;
  width: 100%;
  background-color: var(--navy-color)
}

.container {
  width: 100%;
  max-width: 65rem;
  margin: auto;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-height: 6rem;
}

.nav-brand {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.nav-menu {
  position: fixed;
  top: 6.5rem;
  left: -100%;
  flex-direction: column;
  background-color: var(--navy-color);
  text-align: center;
  transition: left 0.6s ease-in-out;
  width: 90%;
  border: 2px solid var(--offwhite-color);
  border-radius: 10px;
}

.nav-menu.active {
  left: 5%;
}

.nav-item {
  list-style: none;
  color: white;
  margin: 20px 0;
}

.nav-link, a {
  color: var(--offwhite-color);
  text-decoration: none;
  transition: 0.6s ease;
}

.nav-link:hover {
  color: var(--teal-color);
}

.hamburger-menu {
  display: block;
  border: 2px solid var(--teal-color);
  border-radius: 4px;
  padding: 4px;
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--offwhite-color);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-color);
  width: 100%;
  max-width: 65rem;
  margin: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
}

.hero-title {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.hero-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-image {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.headshot {
  border-radius: 50%;
  width: 95%;
  max-width: 40rem;
  min-width: 20rem;
}

.traitsList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  max-width: 40rem;
}

.traits {
  list-style-type: none;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  border: 2px solid var(--teal-color);
  border-radius: 12px;
  padding: 5px 5px;
  font-size: 1rem;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 2rem;
  margin-left: 2rem;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 65rem;
}

.title-container {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.tech-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.tech-icon {
  margin: 0.5rem;
  font-size: 3rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0.5rem;
}

.icon-text {
  opacity: 0;
  font-size: 0.75rem;
  color: var(--teal-color);
  transition: 0.6s ease;
}

.icon-container:hover .icon-text {
  opacity: 1;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem;
  border-radius: 1rem;
  background-color: var(--navy-color);
}

.card-image {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.card-text {
  padding: 1rem;
}

@media(min-width: 768px) {
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }

  .nav-menu {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
  }

  h1 {
    padding-right: 1rem;
  }

  .hero {
    flex-direction: row;
  }

  .headshot {
    max-width: 25rem;
  }

  .hero-image {
    order: 1;
  }

  .hero-headline {
    order: 2;
  }

} 