:root {
  --global-width: 60rem;
  --tinted-glass: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-color: blue;
  color:white;
}

header {
  display:flex;
  justify-content: center;
  background-color: var(--tinted-glass);
  
  min-height: 70px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.container {
  width: 100%;
  max-width: 60rem;
  margin: auto;
}

.nav-brand {
  font-size: 2rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(8px);
  padding: 0 1.5rem;
  min-height: 5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.nav-item {
  list-style: none;
  font-size: 1.25rem;
}

a {
  color: white;
  text-decoration: none;
}

.nav-link {
  transition: 0.6s ease;
}

.nav-link:hover {
  color: purple;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width:768px) {
  .hamburger-menu {
    display: block;
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  
  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    text-align: center;
    transition: 0.5s;
    width: 100%;
    z-index: 999;
  }

  .noggin.active {
    min-height: 270px;
    transition: 0.5s ease-in-out;
  }

  
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 20px 0;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  padding: 1.5rem;
  width: 60rem;
}
