* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 20px;
}

.logo {
  width: 10rem;
  border: 1px solid white;
  fill: grey;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-card-container {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.card-included-list {
  list-style: none;
}



